
<table id="tbl" class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>العنوان</th>
            <th>التفاصيل</th>
            <th>الوسم</th>
            <th>وقت الاضافة</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>#</th>
            <th>العنوان</th>
            <th>التفاصيل</th>
            <th>الوسم</th>
            <th>وقت الاضافة</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
    </tbody>
</table>

